<h1>
  <%= @user.name %>' profile
</h1>
<%= link_to 'Edit profile', edit_user_registration_path(current_user)%>

<p>My photos <%= link_to 'Create new photo', new_image_path %></p>

<table class="table table-bordered">
  <tr>
    <th>Photo</th>
    <th>Title</th>
    <th>Action</th>
  </tr>
  <% @images.each do |image| %>
  <tr>
    <th><%= image_tag image.picture.url(:thumb) %></th>
    <th><%= image.title %></th>
    <th><%= link_to 'Remove', image_path, method: :delete %></th>
  </tr>
  <% end %>
</table>
