<%= form_for @image, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group <%= 'has-error' if @image.errors[:title].any? %>">
      <%= f.label :title, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :title, class: 'form-control' %>
        <%= render 'shared/field_errors', object: @image, field_name: :title %>
      </div>
    </div>

    <div class="form-group <%= 'has-error' if @image.errors[:picture].any? %>">
      <%= f.label :picture, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :picture, class: 'form-control' %>
        <%= render 'shared/field_errors', object: @image, field_name: :picture %>
      </div>
    </div>



    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>