<div class="row">
<% @images.each do |image| %>

  <div class="col-md-3">
    <%= image_tag image.picture.url(:thumb) %></br>
    <b><%= link_to image.title, image_path(image) %></b></br>
    <p>By: <%= link_to image.user.name, show_user_path(image.user.id) %></p>
  </div>
<% end %>
</div>