<h1><%= @image.title %></h1>

<%= image_tag @image.picture.url(:medium) %>

<p>Average score: <%= @average_score %> </p>

<% if user_signed_in? %>
    <h1>Add comment</h1>

    <%= form_for :message, url: images_create_comment_path do |f| %>
        <div class="form-group <%= 'has-error' if @message.errors[:content].any? %>">
          <%= f.label :content, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :content, class: 'form-control' %>
            <%= render 'shared/field_errors', object: @message, field_name: :content %>
          </div>
        </div>

        <div class="form-group <%= 'has-error' if @message.errors[:grade].any? %>">
          <%= f.label :grade, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.select :grade, ImagesController::GRADES, {} %>
            <%= render 'shared/field_errors', object: @message, field_name: :grade %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
<% end %>

<h1>Comments</h1>
<% if @image.id == params[:id] %>
    <% @messages.each do |message| %>
        <div class="panel panel-default">
          <p>By: <%= message.user.name %>, score: <%= message.grade %></p>
          <%= message.content %>
        </div>
    <% end %>
<% else %>
    <p>No comments yet</p>
<% end %>


